:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #8FBC8F;
	min-height: 400px;

	hgroup {
		padding-inline: 1rem;
		padding-block: 5rem;
	}
}

main {
	max-width: 90ch;
	margin-inline: auto;
	padding-inline: 2rem;
}

.bifold {
	display: flex;
	flex-direction: row;

	& > * {
		flex: 50%;
	}
}


.grid {
	list-style: none;
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
	grid-template-columns: repeat(4, 1fr);
	gap: 5rem;
}